name: Code-Quality

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Lint Code with ESLint
        run: npm run lint

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Running typecheck
        run: npx tsc --noEmit

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Build TypeScript Project
        run: npm run build

  semantic-release-check:
    name: Semantic Release Dry Run
    runs-on: ubuntu-latest
    needs: [lint, typecheck, build]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Necessary for semantic-release

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Dry-Run Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release --dry-run
